.card-list {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.text-info {
  width: 100%;
  text-align: center;
  color: var(--text);
}