.repository-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px #9ec3c1;
}

.icon {
  margin-right: 0.3rem;
}

.card-title, .card-text {
  color: black;
}

.card-subtitle {
  color: gray;
}