.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 5px 5px 5px 5px #9ec3c1;
}

.card-title {
  color: black;
}

.card-subtitle {
  color: gray;
}